*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    /* height: 100vh; */
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(166, 170, 36, 0.952) 100%);
}
.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 100px;
    padding-top: 70px;
   
}
.navigation {
    color: white
}
.ruby{
    height: 60px;
    width: 100px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:20px;
    font-size: 20px;
    width: 1200px;
    margin: 0 auto;
    
}
.ul-nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.logo{
    font-size: 40px;
    

}
.navlink{
    padding: 10px;
}
.navlink:hover{
    cursor: pointer;
    border-bottom: 1px solid rgb(255, 255, 255);
}
h1{
    padding-top: 100px;
    color: white;
}
.get-started-button{
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    background-color: black;
    color:white;
    border-style: none;
}
.get-started-button:hover{
    background-color: whitesmoke;
    color: black;
}
.left-section{
    color: white;
}
.left-section-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 50px;
}
.left-h1{
    font-size: 60px;
}
.paragraph {
    font-size: 20px;
}
.right-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fone-pic{
    max-height: 700px;
}
.active-users-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #eaf00c;
    padding-top: 20px;
}
.two-three{
    font-size: 40px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232, 240, 12, 0.774) 100%);
    justify-content: center;
    align-items: center;
}

.container-overlay {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 360px;
    max-width: 100%;
}

.form-container {
    padding: 20px 30px;
}
#login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inpt{
    border: 2px solid #ccc;
    padding: 10px;
    transition: border-color 0.3s ease-in-out;
}
.inpt:focus {
    border-color: #66afe9;
}
.log-in-button{
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.log-in-button:hover{
    background-color: #218838;
}

.overlay-banking {
    display: none;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(255, 255, 255) 100%); */
    justify-content: start;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(186, 223, 55, 0.989) 100%);
}
.box{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: black;
}
.box:hover{
    background-color: rgba(124, 10, 10, 0.658);
    transition: all 0.5s;
}
.banking-p{
    color: rgba(241, 9, 9, 0.658);
    padding:20px;
    font-size: 20px;
    letter-spacing: 3px;
}
.welcome{
    padding-left: 50px;
    color: white;
}
.welcome-user{
    font-size: 50px;
}
.experience{
    margin-bottom: 50px;
    letter-spacing: 2px;
    padding-top: 2px;
    font-size: 20px;
}
.your-acc{
    font-size: 18px;
    color: grey;
    margin-bottom: 10px;
}
.banc-card-style{
    height: 200px;
    width: 400px;
    background-color: rgba(124, 10, 10, 0.658);
    border-radius: 10px;
    margin-bottom: 50px;
    color: whitesmoke;
}
.banc-card-style1{
    height: 200px;
    width: 400px;
    background-color: rgba(121, 114, 114, 0.658);
    border-radius: 10px;
    margin-bottom: 50px;
    color: whitesmoke;
}
.banc-card-head{
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    gap: 20px;
    justify-content: start;
    align-items: center;
    padding-bottom: 20px;
}
.bb{
    font-size: 30px;
}
.card-number{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap:5px;
    padding-bottom: 20px;
}